@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  display: block;
  width: 100%;
  color: white;
  background-color: transparent;
  font-size: 0.875rem;
  border: none;
  font-family: inherit;
}

.react-datepicker {
  border: none;
  border-radius: none;
}
.react-datepicker-wrapper input[type='text'] {
  border: none;
}

#talkbubble {
  width: 100%;
  /* height: 80px; */
  background: #4d4f54;
  position: relative;
  rotate: 0deg;
  /* top: 50px; */
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 10px;
}
#talkbubble:before {
  content: '';
  position: absolute;
  right: 42%;
  top: -26px;
  rotate: 90deg;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-right: 13px solid #4d4f54;
  border-bottom: 20px solid transparent;
}
